	<footer class="footer navbar-fixed-bottom">
	    <div class="container">
	        <p class="text-muted text-center">© 2016 Roman Yavoriv, OSF Gloval Services Intern</p>
	    </div>
	</footer>

	<script>
            var badge = document.getElementById("cart_badge");
		    badge.innerHTML = localStorage.length;
	</script>
 </body>
</html>