<!DOCTYPE html>
<html>
<head>
    <title>OSF Internship project shop589 by R.Yavoriv</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" /> 
    <meta property="og:title" content="OSF Global Services Intrenship project. Just look at it!" />    
</head>

<body class="clearfix">
    <!-- Facebook share button -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <header>        
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand logo" href="/">
                        <img src="https://www.osf-global.com/assets/img/content/osfg.png" alt="OSF" class="img-responsive">
                    </a>
                </div>
                <!-- Nav categories menu -->
                <ul class="nav navbar-nav">
                    <% _.each(catNav, function(topC) { %>
                        <li><a href="/<%= topC.name.toLowerCase() %>"><%= topC.name %></a></li>
                    <% }); %>         
                </ul>
                <!-- Shop cart -->
                <a href="/cart" type="button" class="btn btn-default btn-lg pull-right">
                    <span class="glyphicon glyphicon-shopping-cart fa-lg"></span>
                    <span class="badge" id="cart_badge"></span>                                       
                </a>                

                <div class="pull-right user_nav">
                   <% if (typeof sess.passport !== "undefined") { %>
                       <span class="greet_user">Hello, <%= sess.passport.user.username %></span>
                       <a href="/logout">Logout</a>
                   <% } else { %>
                       <span class="greet_user">Hello, buddy!</span>
                       <a href="/login" class="login">Log in</a>
                       <a href="/signup">Sign up</a>
                   <% } %>
                </div>
            </div>
        </nav>

        <!-- Breadcrumb -->
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <% if (typeof catName !== "undefined") { %>
                <li><a href="/<%= catName %>"><%= catName %></a></li>
            <% } %>
            <% if (typeof subcatName !== "undefined") { %>
                <li><a href="/<%= catName %>/<%= subcatName %>"><%= subcatName %></a></li>
            <% } %>
            <% if (typeof subsubName !== "undefined") { %>
                <li><a href="/<%= catName %>/<%= subcatName %>/<%= subsubName %>"><%= subsubName.split("-")[subsubName.split("-").length - 1] %></a></li>        
            <% } %>
            <% if (typeof productIdName !== "undefined") { %>
                <li><a href="#"><%= productIdName %></a></li>
            <% } %>
        </ul>
    </header>