<% include ../partials/header.ejs %>

<div class="list-group col-md-6 col-md-offset-3 text-center">
	<div id="cart_list"></div>
    <hr>
	<div id="total"></div>

    <button class="btn btn-danger btn-lg" id="clear_cart">CLEAR THE CART</button>

	<a <% if (typeof sess.passport !== "undefined") { %> href="/confirmation" 
    <% } else { %> href="/login" <% } %> >
        <button class="btn btn-success btn-lg" id="make_purchase">MAKE A PURCHASE</button>
    </a>
</div>

<script type="text/javascript" src="/javascripts/cartApp.js"></script> 

<% include ../partials/footer.ejs %>