<% include ../partials/header.ejs %>

<!-- List of categeries -->
<ul>
    <% _.each(items, function(topC) { %> <!--Loop through genders --> 
    <h1><%= topC.page_title %></h1>
        <% _.each(topC.categories, function(subC) { %> <!--Loop through categories --> 
            <li>
                <h2><%= subC.name %></h1>
                <p><%= subC.page_description %></p>
                <% if (subC.image) { %>
                    <div>
                      <img src="/images/<%= subC.image %>">
                    </div>
                <% } %>
                <a href="<%= topC.name.toLowerCase() %>/<%= subC.name.toLowerCase() %>" class="btn btn-info look_more">View products</a>
            </li>
        <% }); %> 
    <% }); %>                   
</ul>

<% include ../partials/footer.ejs %>