<% include ../partials/header.ejs %>

<!-- This message displays only after registration of new user -->
<% if (typeof userName !== "undefined") { %>
    <h2 class="text-center">Now You can Login, bro!)</h2>
<% } %>

<!-- Login form -->
<form method="post" class="col-md-4 col-md-offset-4">
    <h2 class="text-center"><%= title %></h2>
    <hr>
    <div class="form-group">
        <label>Username:</label>
        <input type="text" name="username" class="form-control" required />        
    </div>    
    <div class="form-group">
        <label>Password:</label>
        <input type="password" name="password" class="form-control" required />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="form-control btn-success" />
    </div>
</form>

<% include ../partials/footer.ejs %>