<% include ../partials/header.ejs %>

<!-- Display this message only after checkout -->
<% if (typeof sess.passport !== "undefined") { %>
    <% if (typeof sess.passport.user.confirmation !== "undefined") { %>
        <h2>Please check you email to confirm purchase</h2>
    <% } %>
<% } %>

<!-- List of main categories -->
<ul>
    <% _.each(items, function(topC) { %> <!--Loop through genders --> 
        <li class="category">
            <h1><%= topC.name %></h1>
            <p><%= topC.page_description %></p>
            <% if (topC.image) { %>
                <div>
                    <img src="/images/<%= topC.image %>">
                </div>     
            <% } %>
            <a href="/<%= topC.name.toLowerCase() %>" class="btn btn-info look_more">View products</a>
        </li>
    <% }); %>
</ul>

<% include ../partials/footer.ejs %>   