<% include ../partials/header.ejs %>

<div id="added_success" class="bg-success">Added to cart</div>

<!-- Loop through product and find one desire -->
<% _.each(items, function(product) { %>
	<% if (product.primary_category_id === subsubName && product.id === productIdName) { %>
		<div class="col-md-10 col-md-offset-1">
			<!-- Product view section -->
			<div class="row">
				<img src="/images/<%= product.image_groups[0].images[0].link %>" class="col-md-5" id="main_item_img">
				<div class="col-md-7">
					<h1 id="item_name"><%= product.name %></h1>
					<p class="item_description"><%= product.page_description %></p>
					<a href="#" class="btn btn-success" id="add_to_cart">Buy now</a>
					<!-- Price -->
					<div class="price_value pull-right">
						<p class="col-md-7">Price: 
							<span id="item_price"><%= product.price %></span>
						</p>  
						<select name="" id="currency_selector" class="col-md-5">
							<option value="USD">USD</option>
							<option value="EUR">EUR</option>
							<option value="RON">RON</option>
							<option value="PLN">PLN</option>
						</select>
					</div>
				</div>								
			</div>  
			
			<!--  Loop through additional backside images -->
			<% for(var i = 0; i < 3; i++) { %>
				<% if (typeof product.image_groups[2].images[1] !== "undefined") { %>
					<% if (product.image_groups[2].images[1].link) { %>
						<img src="/images/<%= product.image_groups[2].images[1].link %>" class="img_backside">
					<% } %>
				<% } %>
			<% }; %>
				
			<!-- Complated Comments section -->
			<div class="col-md-6 col-md-offset-3 comments">
			<div class="fb-share-button" data-layout="button"></div>
				<h2>Reviews</h2>
				<% _.each(productComments, function(item) { %> <!-- Loop through comments -->
				    <!-- Display complated comments -->
					<div class="commentBox">					     
						<h4><u><%= item.author %>:</u></h4>
						<!-- Stars -->
						<form>
							<div class="stars old-comment-stars"> 
								<input class="star star-5"  type="radio" name="star" value="5" <% if (item.stars == 5) { %>checked <% } %>/>
								<label class="star star-5" ></label>
								<input class="star star-4"  type="radio" name="star" value="4" <% if (item.stars == 4) { %>checked <% } %> />
								<label class="star star-4" ></label>
								<input class="star star-3"  type="radio" name="star" value="3" <% if (item.stars == 3) { %>checked <% } %>/>
								<label class="star star-3" ></label>
								<input class="star star-2" type="radio" name="star" value="2" <% if (item.stars == 2) { %>checked <% } %>/>
								<label class="star star-2" ></label>
								<input class="star star-1"  type="radio" name="star" value="1" <% if (item.stars == 1) { %>checked <% } %>/>
								<label class="star star-1" ></label>						 
							</div>
						</form>
						<p><%= item.commentText %></p>
					</div> <!-- End of commentBox -->
				<% }); %>
			</div> <!-- End of Complated Comments section -->

			<!-- Section for adding new comments -->
			<div class="col-md-6 col-md-offset-3">
				<form method="get">
					<!-- Stars -->
					<div class="stars form-group"> 
						<h4 class="new_comment_title">Your rating:</h4> 
						<input class="star star-5" id="star-5" type="radio" name="star" value="5" />
						<label class="star star-5" for="star-5"></label>
						<input class="star star-4" id="star-4" type="radio" name="star" value="4" />
						<label class="star star-4" for="star-4"></label>
						<input class="star star-3" id="star-3" type="radio" name="star" value="3" />
						<label class="star star-3" for="star-3"></label>
						<input class="star star-2" id="star-2" type="radio" name="star" value="2" />
						<label class="star star-2" for="star-2"></label>
						<input class="star star-1" id="star-1" type="radio" name="star" value="1" />
						<label class="star star-1" for="star-1"></label>						 
					</div>

					<div class="form-group">
						<label for="comment"><h4>Review:</h4></label>
						<textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
					</div>

					<!-- Check if user loged in -->
					<% if (typeof sess.passport !== "undefined") { %>
						<button type="submit" class="btn btn-success btn-block" id="addComment">Add comment</button>
					<% } else { %>
						<a href="\login" title="You must first log in" class="btn btn-success btn-block">Add comment</a>
					<% } %>
				</form>
			</div> <!-- End of adding comments section -->
			
		</div> <!-- End of main container -->
	<% } %>
<% }); %>

<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
<script type="text/javascript" src="/javascripts/pdpApp.js"></script>

<% include ../partials/footer.ejs %>