<% include ../partials/header.ejs %>

<!-- List of products -->
<div class="product_list clearfix">
    <% _.each(items, function(product) { %>  <!--Loop through products --> 
        <% if (product.primary_category_id === subsubName) { %>
            <div class="product_item">
                <h2 class="product_title"><%= product.name %></h2>           
                <img src="/images/<%= product.image_groups[1].images[0].link %>" class="item_picture">
                <div class="additional_product_info">
                    <p><%= product.page_description %></p>
                    <p>Price: <%= product.price %> $</p>  
                    <a href="<%= subsubName + "/" + product.id %>" class="btn btn-default btn-lg look_more">More info</a>
                </div>
            </div>
        <% } %>
    <% }); %>  
</div>

<% include ../partials/footer.ejs %>