<% include ../partials/header.ejs %>

<!-- Form for sign up -->
<form action="/login" method="get" name="adduser" class="col-md-4 col-md-offset-4">
    <h2 class="text-center"><%= title %></h2>
    <hr>
    <div class="form-group">
        <label>Username:</label>
        <input type="text" name="username" title="A-Z, a-z, 4-10" class="form-control" required pattern="[A-Za-z]{4,10}" />        
    </div>
    <div class="form-group">
        <label>Email:</label>
        <input type="email" name="email" class="form-control" required />        
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input type="password" name="password" title="A-Z, a-z, 4-10" class="form-control" required pattern="[A-Za-z]{4,10}" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="form-control btn-success" />
    </div>
</form>



<% include ../partials/footer.ejs %>