<% include ../partials/header.ejs %>   

<!-- Lsi of subcategories -->
<div class="list-group col-md-6 col-md-offset-3 text-center">
    <% _.each(items, function(topC) { %>  <!--Loop through genders -->                    
        <hr>
        <% _.each(topC.categories, function(subC) { %>  <!--Loop through main categories -->
            <% _.each(subC.categories, function(subsubC) { %>  <!--Loop through subcategories -->
                <% if (subsubC.parent_category_id === (catName + "-" + subcatName)) { %>  
                    <a href="<%= subC.name.toLowerCase() %>/<%= subsubC.id %>" class="list-group-item">
                        <h3><%= subsubC.name %></h3>
                        <p><%= subsubC.page_description %></p>
                        <% if (subsubC.image) { %>
                            <img src="/images/<%= subsubC.image %>">
                        <% } %>
                    </a>
                <% } %>
            <% }); %>
        <% }); %> 
    <% }); %>                   
</div>

<% include ../partials/footer.ejs %>  