/* General style */
body {          
	padding: 50px 50px 40px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a { color: #00B7FF; }

ol, ul { list-style-type: none; }

img { max-width: 100%; }

/* Style for header */
.logo {
	padding-top: 10px;
	border-right: 1px solid lightgrey;
}

.user_nav {
	font-size: 1.7em;
	line-height: 1.9em;
	margin: 0 30px;
}

.greet_user {
	border-right: 1px solid lightgrey;
	padding-right: 20px;
}

.login { padding: 0 10px 0 15px; }

/* Style of main sections */

  	/*Categories*/
.category {	margin-top: 70px; }

.look_more { margin-top: 15px; }

	/* Product list*/
.product_item {
	width: 46%;
	height: 475px;
	float: left;          
	padding: 10px 20px;
	margin-bottom: 25px;
	margin-right: 15px;
	margin-left: 20px;         
	border: 1px solid lightgrey;
	border-radius: 5px;
}

.product_title { margin-bottom: 25px; }

.item_picture {
	max-width: 42%;
	min-width: 28%;
}

.additional_product_info {
	float: right;
	width: 55%;
	font-size: 1.7em;
	padding: 10px;
	line-height: 1.4em;
}
.additional_product_info p {
    max-height: 205px;
    overflow: hidden;
}

	/* PDP */
#added_success {
	display: none;
	position: fixed;
    top: 51px;
    right: 0;
    width: 135px;
    font-size: 1.3em;
    padding: 10px;    
    border: 1px solid lightgrey;
    border-top: none;
    height: auto;    
    border-radius: 0 0 5px 5px;
    text-align: center;
}

.item_description { margin-bottom: 30px; }

.price_value { width: 42%; }

.img_backside {	width: 13.25%; }

.fb-share-button {
	left: 40%;
}

.comments {	margin-bottom: 30px; }

.commentBox {
	border: 1px solid grey;
	background: #EDEDED;
	border-radius: 7px;
	padding: 10px;
	margin-bottom: 5px;
}
.new_comment_title {
	display: inline-block;
	margin-right: 10px;
}

		/* Style for rating */

div.stars {
	width: auto;
	display: inline-block;
	margin-bottom: 0;	
}

input.star { display: none; }

label.star {
	float: right;
	padding: 5px;
	font-size: 27px;
	color: #444;
	transition: all .2s;
}

input.star:checked ~ label.star:before {
	content: '\f005';
	color: #FD4;
	transition: all .25s;
}

input.star-5:checked ~ label.star:before {
	color: #FE7;
	text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
	content: '\f006';
	font-family: FontAwesome;
}

.old-comment-stars {
	pointer-events:none;
	width: auto;

}
.old-comment-stars label.star {
	font-size: 18px;
	padding: 3px;
}

	/* Cart */
.glyphicon { font-size: 1.2em; }

.glyphicon-remove {
	position: absolute;
	right: 0;
}

#total { font-size: 2em; }

#make_purchase, #clear_cart { margin-bottom: 20px; }